<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('../partials/nav.ejs'); %>
        <p>This is file</p>
        <a href="/download">Download this</a>


</body>

</html>